
#AdminWrapper {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: Geo Sans Light;    
    left: 50%;
}

#userListHeader {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 103%;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
}

#userList {
    margin-left: auto;
    margin-right: auto;
    width: 103%;
    height: 300px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    line-height:3em;
    overflow-x: hidden;
    overflow-y: scroll;
}

.listDiv1 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 19.4%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #FFFFFF;
    //border: 2px solid black;
}
.listDiv2 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 19.4%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #F0F0F0;
}

.listDiv1 p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.listDiv2 p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.listWrapper1 {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;

}

.listWrapper2 {
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
}

#listTitleWrapper {
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
}

.listTitle {
    text-align:center;
    vertical-align:middle;
    line-height: 50px;
    width: 19%;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}

.listTitle p {
    padding-top: 2px;
    padding-bottom: 2px;
}

#sectionTitle {
    font-size: 30px;
    color: #018dc4;
    padding-left: 10px;
}

.inputbox {
    display: none;  
    height: 1px;
    width: 1px;
}

.removeButton {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    border: none;
    background: transparent;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #E09191;
}

.buttonWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    //border: 2px solid black;
}
