
#contentWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: Geo Sans Light;    
}

#updateDiet {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 360px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;

    //border: 2px solid black;
}

#meal {
    //border: 2px solid #018dc4;
}

#date {
    width: 100%;
}

#submitMeal {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: none;
}

#mealListHeader {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 103%;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#mealList {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 102%;
    height: 600px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    line-height:3em;
    overflow-x: hidden;
    overflow-y: scroll; 
}

#completedGoalList {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 102%;
    height: 300px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    line-height:3em;
    overflow-x: hidden;
    overflow-y: scroll;

}

#sectionTitle {
    font-size: 30px;
    color: #018dc4;
    padding-left: 10px;
}

#sectionTitle2 {
    float: left;
    font-size: 30px;
    color: #018dc4;
    padding-left: 10px;
}

#section1 {
    position: relative;
    float: left;
    width: 49%;

}

#section2 {
    position: relative;
    float: right;
    width: 49%;

}

.boxContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto; 
}

.inputBox {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: rgba(252,252,252,1);
}

.dateinputBox {
    float: left;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    height: 20px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font: normal 20px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: rgba(252,252,252,1);
}

.dropDownBox select {

    margin-left: auto;
    margin-right: auto;
    width: 49%;
    background: transparent;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    border: none;
}

.dropDownBox {
    float: left;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 39%;
    height: 15px;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: url(images/arrow.png) 96% / 20% no-repeat #FFFFFF;
}

.dateSelect {
    float: right;
    width: 49%;
}

select::-ms-expand {
    display: none;
}

#addMealButton {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 80%;
    height: 15px;
    cursor: pointer;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    //color: #018dc4;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;
    //background: rgba(252,252,252,1);
}

#addConsumableButton {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    cursor: pointer;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    //color: #018dc4;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;
    //background: rgba(252,252,252,1);
}

.listDiv1 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 19%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #FFFFFF;
}
.listDiv11 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 19%;
    height: 50px;
    float: left;
    font: normal 20px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #FFFFFF;
}
.listDiv2 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 19%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #F0F0F0;
}

.listDiv22 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 19%;
    height: 50px;
    float: left;
    font: normal 20px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #F0F0F0;
}

.listDiv1 p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.listDiv2 p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.listWrapper1 {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}

.listWrapper2 {
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
}

#listTitleWrapper {
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
}

.listTitle {
    text-align:center;
    vertical-align:middle;
    width: 19%;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}

.listTitle p {
    padding-top: 2px;
    padding-bottom: 2px;
}

#mealDateWrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.datewrapper {
    float: left;
}

#incrementButtonr {
    float: left;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    //color: #018dc4;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;
    //background: rgba(252,252,252,1);
}

#incrementButtonl {
    float: right;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    //color: #018dc4;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;
    //background: rgba(252,252,252,1);
}

#dateformWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
}

#headWrapper {
    width:100%;
    height: 60px;
}

#section11 {
    position: relative;
    float: left;
    width: 40%;

}

#section22 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 19%;

}

#section33 {
    position: relative;
    float: right;
    width: 40%;
}

#test {
    margin-left: auto;
    margin-right: auto;
    width: 54%;
}