
#contentWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: Geo Sans Light;    
}

#updateExercise {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    border-radius: 6px;
}

#exerciseListHeader {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 103%;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#exerciseList {
    margin-left: auto;
    margin-right: auto;
    width: 103%;
    height: 300px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    line-height:3em;
    overflow-x: hidden;
    overflow-y: scroll;
}

#exerciseListFooter {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 103%;
    height: 10px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dropDownBox select {

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: transparent;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    border: none;
}

.dropDownBox {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: url(images/arrow.png) 96% / 20% no-repeat #FFFFFF;
}

select::-ms-expand {
    display: none;
}

.inputbox {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: rgba(252,252,252,1);
}

.inputtextbox {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 50px;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: rgba(252,252,252,1);
}

#addExerciseButton {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    cursor: pointer;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    //color: #018dc4;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;
    //background: rgba(252,252,252,1);
}

.inputWrapper {
    margin: 0 auto;
    width: 60%;
}

.exerciseName {
    width: 31%;
    //border: 2px solid black;
    float: left;
}

.exerciseType {
    width: 31%;
    margin-left: auto;
    margin-right: auto;
    //border: 2px solid black;
}

.exerciseNotes {
    width: 31%;
    margin-top: auto;
    margin-bottom: auto;
    //padding-left: 30px;
    //border: 2px solid black;
    float: right;
}

.exerciseDistance {
    width: 31%;
    margin-left: auto;
    margin-right: auto;
    //border: 2px solid black;
}

.exerciseDuration {
    width: 31%;
    margin-left: auto;
    margin-right: auto;
    //border: 2px solid black;
}

.submitExercise {
    width: 31%;
    //border: 2px solid black;
    float: left;
    float: bottom;
}

.exerciseMessage {
    width: 31%;
    float: right;
    float: bottom;
    //border: 2px solid black;
}

#sectionTitle {
    font-size: 30px;
    color: #018dc4;
    padding-left: 10px;
}

.listDiv1 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 19%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #FFFFFF;
}
.listDiv2 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 19%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #F0F0F0;
}

.listDiv1 p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.listDiv2 p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.listWrapper1 {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}

.listWrapper2 {
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
}

#listTitleWrapper {
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
}

.listTitle {
    text-align:center;
    vertical-align:middle;
    width: 18.8%;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}

.listTitle p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.noGoalContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    font-size: 20px;
    font: normal 20px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}