
#userList {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 300px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    line-height:3em;
    overflow-x: hidden;
    overflow-y: scroll;
}

.listDiv1 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 20%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #FFFFFF;
}

.listDiv2 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 20%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #F0F0F0;
}

.listDiv3 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 14%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #FFFFFF;
}
.listDiv4 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 14%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #F0F0F0;
}

#sectionTitle {
    font-size: 30px;
    color: #018dc4;
    padding-left: 10px;
}

#section1 {
    position: relative;
    float: left;
    width: 31%;

}

#section2 {
    position: relative;
    margin-left: auto;
    margin-right: auto; 
    width: 31%;

}

#section3 {
    position: relative;
    float: right;
    width: 31%;
}

#editGroup {
    margin-top: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 300px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF; 
    border-radius: 6px;
}

.listDiv1 p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.listDiv2 p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.listWrapper1 {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}

.listWrapper2 {
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
}

#listTitleWrapper {
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
}

.listTitle {
    text-align:center;
    vertical-align:middle;
    width: 20%;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}

.listTitle1 {
    text-align:center;
    vertical-align:middle;
    width: 13.8%;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}

#userListHeader {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#editGroup {
    margin-top: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 300px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF; 
    border-radius: 6px;
}

#groupDetails {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-bottom: 0px;
    width: 100%;
    height: 150px;
    font-family: Geo Sans Light; 
    border-radius: 6px;
    background-color: #FFFFFF;
}

#profilePicture {
    float: left;
    width: 120px;
    height: 120px;
    background-image: url('images/dp.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid #018dc4;
}

#nameDetails {
    float: left;
    width: 60%;
    height: 100%;
}

#edit {

    float: right;
    width: 20%;
}

#groupName {
    padding-left: 15px;
    font-size: 20px;
    color: #018dc4;
}

#bio {
    padding-left: 15px;
    font-size: 20px;
    color: #018dc4;

}

#profileWrapper {
    padding-top: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
    font-family: Geo Sans Light;    
    left: 50%;
}

#contentWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: Geo Sans Light;    
}

#updateGoal {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 99%;
    height: 160px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF; 
    border-radius: 6px;
}

.boxContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto; 
}

.inputBox {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: rgba(252,252,252,1);
}

.inputBox1 {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    height: 15px;
    margin-bottom: 8px;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: rgba(252,252,252,1);
}

.dropDownBox select {

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: transparent;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    border: none;
}

.dropDownBox {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: url(images/arrow.png) 96% / 20% no-repeat #FFFFFF;
}

select::-ms-expand {
    display: none;
}

#addGoalButton {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    cursor: pointer;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    //color: #018dc4;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;
    //background: rgba(252,252,252,1);
}

#activeGoalListHeader {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 101%;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#activeGoalList {
    margin-left: auto;
    margin-right: auto;
    width: 101%;
    height: 300px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    line-height:3em;
    overflow-x: hidden;
    overflow-y: scroll;
}

.noGoalContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    font-size: 20px;
    font: normal 20px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}

.listCompDiv1 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 19.5%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #FFFFFF;
}
.listCompDiv2 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 19.5%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #F0F0F0;
}

.listCompTitle {
    text-align:center;
    vertical-align:middle;
    width: 19%;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}

#completedGoalListHeader {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 101%;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#completedGoalList {
    margin-left: auto;
    margin-right: auto;
    width: 101%;
    height: 300px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    line-height:3em;
    overflow-x: hidden;
    overflow-y: scroll;
}

.manageButton {
    display: table;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 50%;
    height: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;
}
.manageButton1 {
    display: table;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    height: 10px;
    cursor: pointer;
    margin: 0 auto;
    //margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;
}

#bg, #search-bg {

    //  background-image: url('/media/freelancer-desk.jpg');
    background-repeat: no-repeat;
    background-size: 1080px auto;
    display:none;

}

#bg {
    background-position: center;
    padding: 70px 90px 120px 90px;

}

#search-container {
    position: relative;
}

#search-bg {
    /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 99;

    /* Pull the background 70px higher to the same place as #bg's */
    background-position: center -70px;

}

#search {
    /* Put this on top of the blurred layer */
    position: relative;
    z-index: 100;
    padding: 20px;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.75);
    box-shadow:10px 10px 20px 5px black;
}
#search h2, #search h5, #search h5 a 
{ text-align: center; color: #fefefe; font-weight: normal; 
}

#search h2 { 
    margin-bottom: 50px;
}

#search h5 { 
    margin-top: 70px;
}

.inputRegisterInfo {
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

.removeButton {
    padding-top: 15px;
    padding-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    border: none;
    background: transparent;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #E09191;
}

.admin {
    padding-top: 15px;
    padding-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}