p.normal {
    font-family: Geo Sans Light; 
    font-size: 30px;
    text-align: center;
    color: #018dc4;
}
p.red {
    font-family: Geo Sans Light; 
    font-size: 30px;
    text-align: center;
    color: red;
}
p.green {
    font-family: Geo Sans Light; 
    font-size: 30px;
    text-align: center;
    color: green;
}
p.orange {
    font-family: Geo Sans Light; 
    font-size: 30px;
    text-align: center;
    color: orange;
}
#healthTitle {
    padding-top: 10px;
    float: left;
    font-size: 30px;
    width : 30%;
    color: #018dc4;
}

#Graph {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 350px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 5px;

}

p.BMI {
    font-weight: bold;
    font-family: Geo Sans Light; 
    font-size: 20px;
    text-align: right;
    color: #B34F24;
    padding-right: 50px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#section1 {
     padding-top: 20px;
    position: relative;
    float: right;
    width: 30%;
}   
.input {
    width: 49%;
    float: left;
}

.inputbutton {
    width: 49%;
    float: right;
}

.boxContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto; 
}

.addGoalButton {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    cursor: pointer;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    //color: #018dc4;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;
    //background: rgba(252,252,252,1);
}

.inputBox {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: rgba(252,252,252,1);
}
