#bannerLinks {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20%;
    float:left;
    
}

.linkWrap {
    margin-left: 50px;
    float:left;
    padding-top: 45px;
    font-family: Geo Sans Light;
    font-size: 20px;
    color: #A5A5A5;
    text-decoration: none;
}

.link {
    font-family: Geo Sans Light;
    color: #A5A5A5;
    text-decoration: none !important;
}

#loginBox {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -165px;
    width: 300px;
    height: 150px;
}

#createAccount {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -165px;
    width: 300px;
    height: 170px;
    display: none;
}

#loginText {
    position: relative;
    top: 120px;
    left: 30%;
    width: 300px;
}

#id{
    width: 100px;
}

#email {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #b7b7b7;
}

#password {
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#loginInfo {
    width: 100%;
    top: 100%;
    position: absolute;
    background-color: #F0F0F0;
    border-top: 5px solid #018dc4;
}

.textField {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 165px;
  height: 15px;
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  font: normal 16px/normal Arial, Helvetica, sans-serif;
  color: #b7b7b7;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
}

.inputEmailBox {
    padding-bottom: 0px;
}

.inputPasswordBox {
    padding-bottom: 10px;
}

#firstName {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #b7b7b7;
}

#lastName {
    border-bottom: 1px solid #b7b7b7;
}

#emailaddress {
    border-bottom: 1px solid #b7b7b7;
}

.inputRegisterInfo {
   padding-bottom: 0px;
}

.linkButton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 165px;
  height: 15px;
  cursor: pointer;
  margin: 7px;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  //color: #018dc4;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background-color: #018dc4;
  //background: rgba(252,252,252,1);
}

.errorMessage {
    font-size: 15px;
    color: #FFFFFF;
    padding-top: 5px;
}

.accountCreatedMessage {
    font-size: 15px;
    color: #FFFFFF;
    padding-top: 5px;
}

.infoContent {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100%;
}

#about {
    width:100%;
}

#team {
    margin-top: 20px;
    width:100%;
}

#contact {
    margin-top: 20px;
    width:100%;
}

#terms {
    margin-top: 20px;
    width:100%;
}

#sectionTitle {
    text-align: center;
    font-family: Geo Sans Light;
    padding: 10px;
    font-size: 30px;
    color: #018dc4;
}

#siteDescription {
    text-align: center;
    font-family: Geo Sans Light;
    font-size: 20px;
    color: #848484;
}

.imagel {
    float:left;
    width:100px;
    height:100px;
    border: 2px solid #018dc4;
}

.meetTheTeam {
    width:100%;
    height:110px;
}

.teamDescriptionl {
    padding:10px;
    float:left;
    height:100px;
}

.imager {
    float:right;
    width:100px;
    height:100px;
    border: 2px solid #018dc4;
}

.teamDescriptionr {
    padding:10px;
    float:right;
    height:100px;
}

.name{
    font-family: Geo Sans Light;
    font-size: 20px;
    color: #018dc4;
}

.memberDescription {
    font-family: Geo Sans Light;
    font-size: 14px;
    color: #848484;
}

.dropDownBox select {
   
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: transparent;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    border: none;
}

.dropDownBox {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 165px;
    height: 15px;
    margin: 7px;
    margin-top: 0px;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    //border-radius: 5px;
    background: #FFFFFF;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: url(images/arrow.png) 96% / 20% no-repeat #FFFFFF;
}