
@font-face { 
    font-family: 'Geo Sans Light'; 
    src: url('GeosansLight.ttf') format('truetype');
}

@font-face { 
    font-family: 'Geo Sans Light Oblique'; 
    src: url('GeosansLight-Oblique.ttf') format('truetype');
}

html {
    height: 100%;
}
body {

    height:100%;
    margin:0 auto;
    padding: 0px;
    //background: #2B4054;
    background: #F0F0F0;
    //background: #B2CBE6;
    //background: -ms-linear-gradient(top, #FFFFFF 0%, #C6E2FF 100%);
    background-size: 100%;
}

h1 {
    font-family: Geo Sans Light;
    font-size: 40px;
    color: #018dc4;
}

#bannerWrapper {
    border: 1px solid white;
    height: 80px;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 5px solid #018dc4;
    min-width: 960px; 
    margin: 0 auto;
}

#bannerContent {

    margin-left: auto;
    margin-right: auto;
    width: 55%;
    font-family: Geo Sans Light;
    min-width: 960px; 
    margin: 0 auto;
}


p.banner  {
    color:  black;
    font-family: Geo Sans Light; 
    padding: 0px;
    margin: 0px;

}
#bannerTitle {
    float:left;
    font-family: Geo Sans Light;

}

#title {
    font-family: Geo Sans Light;
}

#contentWrapper {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: Geo Sans Light;    

}

#searchBox {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 200px;
    height: 15px;
    padding: 10px 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #b7b7b7;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252,252,252,1);
}

#LogoutButton {
    display: table;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100px;
    height: 15px;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #FFFFFF;
}

#LogoutButton:hover {
    color: #FFFFFF;
    background-color: #018dc4;
}

#searchBoxPos {
    padding-top: 30px;
    padding-left: 450px;
}

#logoutPos {
    float: right;
    padding-top: 30px;
    padding-right: 75px;
}

#footerWrapper {
    width: 100%;
    height: 120px;
    background-color: #018dc4;
}

#footerContent {
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 60%;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #018dc4;
}
input {

    outline:none;

}

input:-moz-placeholder,
input:focus {

    outline:none;

}

input:invalid {

    outline:none;
 

}
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}
