
#profileWrapper {
    padding-top: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
    font-family: Geo Sans Light;    
    left: 50%;
}


#userDetails {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-bottom: 0px;
    width: 100%;
    height: 150px;
    font-family: Geo Sans Light; 
    border-radius: 6px;
    background-color: #FFFFFF;
}

#HeathOverview {
    position: relative;
    padding: 5px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 250px;
    font-family: Geo Sans Light; 
    border-radius: 6px;
    background-color: #FFFFFF
}
#WBT {
    display: inline-block;

    margin-left: auto;
    margin-right: auto;

    width: 101.4%;
    font-family: Geo Sans Light; 
}
#GED {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 101.4%;
    height: 330px;
    font-family: Geo Sans Light; 
}

#Goals {
    position: relative;
    padding: 5px;
    float: left;
    height: 100%;
    width:31%;
    border-radius: 6px;
    background-color: #FFFFFF 
}

#Exercise {
    position: relative;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width:31%;
    border-radius: 6px;
    background-color: #FFFFFF 
}

#Diet {
    position: relative;
    padding: 5px;
    float: right;
    height: 100%;
    width:31%;
    border-radius: 6px;
    background-color: #FFFFFF;

}


#profilePicture {
    float: left;
    width: 120px;
    height: 120px;
    background-image: url('images/dp.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid #018dc4;
}

#nameDetails {
    float: left;
    width: 60%;
    height: 100%;
}

#edit {

    float: right;
    width: 20%;


}

#userName {
    padding-left: 15px;
    font-size: 20px;
    color: #018dc4;
}

#bio {
    padding-left: 15px;
    font-size: 20px;
    color: #018dc4;

}

#EditAccountButton {
    display: table;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100px;
    height: 15px;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
}

#sectionTitle {
    padding: 5px;
    font-size: 30px;
    color: #018dc4;
}

#subSectionTitle {
    padding: 5px;
    display:table;
    margin: 0 auto;
    font-size: 20px;
    color: #018dc4;
    text-decoration: none;
}

#manage {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-bottom: 10px;
}

.manageButton {
    display: table;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 50%;
    height: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;

}

.updateButton {
    display: table;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-left: 8px;
    margin-top: 5px;
    float : left ;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;

}
.editAccountButton {
    display: table;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 20%;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;

    float: right;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;
}

.button {
    margin: 0 auto;
    margin-top: 1%;
    width: 100%;
}
#legend {
    padding-top: 10px;
    float: right;
    width : 30%;
    height: 10%;
}
#legendProf {

    padding-top: 40px;
    float: left;
    width : 2%;
    height: 10%;
}
p.Weight {
    font-weight: bold;
    font-family: Geo Sans Light; 
    font-size: 20px;
    text-align: right;
    color: #4CBAC2;
    padding-right: 50px;
}
.noContent {
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    text-align:center;
    font-size: 20px;
    font: normal 20px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}
.percentage {
    position: relative;
    top: 30%;
    //  transform: translateY(-50%);
    text-align:center;
    font-size: 60px;
    font-family: Geo Sans Light;
    font-size: 40px;
    color: #018dc4;

}


.listWrapper {
    width:100%;
    text-align:center;
}

.detailsWrapper {
    float:left;
    width:70%;
}

.numberWrapper {

    text-align:center;
    float:left;
    width:20%;
    font: normal 20px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}

.listName {
    font: normal 18px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    text-align:center;
}

.listType {
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    text-align:center;
}


#bg, #search-bg {

    //  background-image: url('/media/freelancer-desk.jpg');
    background-repeat: no-repeat;
    background-size: 1080px auto;
    display:none;
     z-index: 1;

}

#bg {
    background-position: center;
    padding: 70px 90px 120px 90px;
     z-index: 1;

}

#search-container {
    position: relative;
     z-index: 1;
}

#search-bg {
    /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;

    /* Pull the background 70px higher to the same place as #bg's */
    background-position: center -70px;

}

#search {
    /* Put this on top of the blurred layer */
    position: relative;
    z-index: 1;
    padding: 20px;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.75);
    box-shadow:10px 10px 20px 5px black;
}


#editDiv{

    width: 100%;
    height: 100%;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    border-radius: 6px;

}

.type {
    /*background-image: url(portfolio/typebg.jpg);*/
    background: #018dc4;

    height: 80px;
    margin-top: 50px;
    text-align: center;
    background-position: center;
    border-top-style: ridge;
    border: solid 2px black;
    overflow-x: hidden;
    overflow-y: scroll;

}

.icon {
    position : fixed;
    bottom : 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    padding-bottom: 0px;
     font: normal 20px/normal Arial, Helvetica, sans-serif;
    color:white;
    overflow:hidden;
}

.inputbox {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: rgba(252,252,252,1);
}


.myButton {
	background-color:#fa1212;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:1px -1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButtontick {
	background-color:#44c767;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;

	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:5px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButtontick:hover {
	background-color:#5cbf2a;
}
.myButtontick:active {
	position:relative;
	top:1px;
}
form {
    display: inline;
}