.listDiv1 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 20%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #FFFFFF;
}
.listDiv11 {
    vertical-align: middle;
    line-height: 50px;
    width: 79%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #FFFFFF;
}
.listDiv2 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 20%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #F0F0F0;
}
.listDiv22 {
    vertical-align: middle;
    line-height: 50px;
    width: 79%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #F0F0F0;
}
.listCompDiv1 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 19.5%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #FFFFFF;
}
.listCompDiv2 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 19.5%;
    height: 50px;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
    background-color: #F0F0F0;
}

.listDiv1 p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.listDiv2 p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.listWrapper1 {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}

.listWrapper2 {
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
}

#listTitleWrapper {
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
}

.listTitle1 {
    text-align:center;
    vertical-align:middle;
    width: 20%;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}

.listTitle2 {
    vertical-align:middle;
    width: 79%;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}

.listCompTitle {
    text-align:center;
    vertical-align:middle;
    width: 19%;
    float: left;
    font: normal 14px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}

.listTitle p {
    padding-top: 2px;
    padding-bottom: 2px;
}

.noGroupContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    font-size: 20px;
    font: normal 20px/normal Arial, Helvetica, sans-serif;
    color: #018dc4;
}

#groupList {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 300px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    line-height:3em;
    overflow-x: hidden;
    overflow-y: scroll;
}

#addGroup {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 160px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF; 
    border-radius: 6px;
}

#contentWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: Geo Sans Light;    
}

#groupListHeader {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#sectionTitle {
    font-size: 30px;
    color: #018dc4;
    padding-left: 10px;
}

#section1 {
    width: 49%;
    height: 600px;
    float: left;
}

#section2 {
    width: 49%;
    height: 600px;
    float: right;
}

#createGroup {
    margin-top: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 300px;
    font-family: Geo Sans Light; 
    background-color: #FFFFFF; 
    border-radius: 6px;
}

.inputRegisterInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 70%;
}

.inputBox {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #b7b7b7;
    -o-text-overflow: clip;
    text-overflow: clip;
    //background: rgba(252,252,252,1);
}

#addGroupButton {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    height: 15px;
    cursor: pointer;
    margin: 7px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    //color: #018dc4;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #018dc4;
    //background: rgba(252,252,252,1);
}

.button {
    padding-top: 12px;
    padding-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    border: none;
    background: transparent;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
    color: #018dc4
}